<?xml version="1.0" encoding="UTF-8"?>
<!--
 * Copyright 2009 Martin Vysny.
 *
 * This file is part of WebVM.
 *
 * WebVM is free software: you can redistribute it and/or modify
 * it under the terms of the GNU General Public License as published by
 * the Free Software Foundation, either version 3 of the License, or
 * (at your option) any later version.
 *
 * WebVM is distributed in the hope that it will be useful,
 * but WITHOUT ANY WARRANTY; without even the implied warranty of
 * MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
 * GNU General Public License for more details.
 *
 * You should have received a copy of the GNU General Public License
 * along with WebVM.  If not, see <http://www.gnu.org/licenses/>.
-->
<web-app version="2.4" xmlns="http://java.sun.com/xml/ns/j2ee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://java.sun.com/xml/ns/j2ee http://java.sun.com/xml/ns/j2ee/web-app_2_4.xsd">
    <display-name>WebVM</display-name>
    <filter>
        <filter-name>wicketfilter</filter-name>
        <filter-class>org.apache.wicket.protocol.http.WicketFilter</filter-class>
        <init-param>
            <param-name>applicationClassName</param-name>
            <param-value>sk.baka.webvm.WicketApplication</param-value>
        </init-param>
        <init-param>
            <param-name>configuration</param-name>
            <param-value>deployment</param-value>
        </init-param>

        <!-- ===================== -->
        <!-- The Problems notification setup -->
        <init-param>
            <!-- The Free Disk Space problem analyzer.
                Triggers a problem when there is less than minFreeDiskSpaceMb of free space on some drive
            -->
            <param-name>minFreeDiskSpaceMb</param-name>
            <param-value>100</param-value>
        </init-param>
        <init-param>
            <!--
                Triggers a problem when GC uses over gcCpuTreshold% or more of CPU continuously for gcCpuTresholdSamples seconds.
                -->
            <param-name>gcCpuTreshold</param-name>
            <param-value>50</param-value>
        </init-param>
        <init-param>
            <!--
                Triggers a problem when GC uses over gcCpuTreshold% or more of CPU continuously for gcCpuTresholdSamples seconds.
                -->
            <param-name>gcCpuTresholdSamples</param-name>
            <param-value>3</param-value>
        </init-param>
        <init-param>
            <!--
                If the memory usage after GC goes above this value the GC Memory Cleanup problem is reported.
                -->
            <param-name>memAfterGcUsageTreshold</param-name>
            <param-value>85</param-value>
        </init-param>
        <init-param>
            <!--
                If the memory usage goes above this value the pool name is reported in the "Memory Usage" report. This never triggers a problem.
                -->
            <param-name>memUsageTreshold</param-name>
            <param-value>90</param-value>
        </init-param>
    </filter>

    <filter-mapping>
        <filter-name>wicketfilter</filter-name>
        <url-pattern>/*</url-pattern>
    </filter-mapping>

    <servlet>
        <servlet-name>RssFeed</servlet-name>
        <servlet-class>sk.baka.webvm.rss.RssFeed</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>RssFeed</servlet-name>
        <url-pattern>/rss.xml</url-pattern>
    </servlet-mapping>
</web-app>
